# Xử lý dữ liệu
numpy
pandas
scipy
tqdm

# Học sâu & Đồ thị (Dành cho LightGCN)
# torch           # Đã có sẵn trong Docker Image CUDA, chỉ cần cài nếu chạy ngoài Windows
# torchvision     # Đã có sẵn trong Docker Image CUDA, chỉ cần cài nếu chạy ngoài Windows
# torch-geometric # Hoặc dgl nếu bạn chọn dùng DGL (Không bắt buộc vì code dùng PyTorch thuần)

# Đánh giá & Trực quan hóa
scikit-learn     # Để tính MSE, RMSE
matplotlib
seaborn

# Thử nghiệm
jupyterlab
jupyter

